* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: yellow;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    color: red;
}

.logo {
    max-width: 200px;
}

.input {
    height: 40px;
    width: 30%;
    max-width: 400px;
    border: 1px black solid;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.btnSearch {
    height: 40px;
    background: rgb(0, 110, 255);
    border: 1px black solid;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
}

.search {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.loader {
    display: none;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(0, 0, 0, .3);
    border-radius: 50%;
    border-top-color: black;
    animation: spin 1s ease-in-out infinite;
}

.loader--active {
    display: inline-block;
}

.pokemon {
    border: 1px black solid;
    padding: 16px;
    border-radius: 12px;
    background-color: white;
    width: 90%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pokemon h3 {
    color: black;
}

.pokemon__moves {
    color: black;
    text-align: center;
    margin-top: 8px;
    max-height: 200px;
    overflow-y: scroll;
}

.pokemon__moves a {
    color: black;
    text-decoration: none;
}

.pokemon__moves a:hover {
    text-decoration: underline;
}

.pokemon__moves::-webkit-scrollbar {
    width: 10px;
}

.pokemon__moves::-webkit-scrollbar-track {
    background: yellow;
}

.pokemon__moves::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 12px;
}

span {
    color: black;
}

.pokemon__moves > div {
    border: 1px black solid;
    padding: 6px;
}




@keyframes spin {
    to { -webkit-transform: rotate(360deg) }
}