/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
button {
    outline: none;
    border: none;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.spinner {
    display: flex;
    margin: 20px;
    position: relative;
}

.spinner__minus, .spinner__plus {
    color: white;
    background-color: lightslategray;
    font-size: 16px;
    font-weight: bold;
    width: 20%;
    max-width: 60px;
    height: 60px;
    cursor: pointer;
}

.spinner__minus {
    border-radius: 8px 0 0 8px;
}

.spinner__plus {
    border-radius: 0 8px 8px 0;
}

.spinner__text {
    border-color: lightslategray;
    border: 1px lightslategray solid;
    text-align: center;
}

.spinner__error {
    color: red;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
}